<!DOCTYPE html>
<html>
<head>


  <script src="https://unpkg.com/vue/dist/vue.js"></script>


  <title>Ostoslista</title>
</head>
<body style="background-color:lightgreen;">
  <div id="ostosLista">
    <h1 style="font-family:verdana;">Ostoslista kauppareissuille</h1>


    <div class="panel panel-default">

      <form v-on:submit='lisaaTuote'>
        <div class="col-sm-8">
          <input type="text" class='form-control' v-model='tuotteet.name'>
        </div>

        <input type="submit" value='Lisaa' class='btn btn-primary btn-block'>

      </form>

    </div>

    <table class="table">
      <thead>
        <th>Tuote</th>
        <th>Poista listalta</th>
      </thead>

      <tbody>
        <tr v-for='tuote in tuotteet'>
          <td><span>{{ tuote.name }}</span></td>
          <td><button class="btn btn-danger btn-block" v-on:click="poistaTuote(tuote)">Poista</button></td>
        </tr>
      </tbody>
    </table>

<script src="uusiyritys.js"></script>
</body>
</html>
